<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:action="@{/}" method="post">
    <input type="hidden" name="action" value="update"/>
    <input type="hidden" name="id" th:value="${user.getId()}"/>

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{user.name}" id="name">
    <br/>
    <label for="lastName">Enter surname: </label>
    <input type="text" th:field="*{user.lastName}" id="lastName">
    <br/>
    <label for="years">Enter age: </label>
    <input type="text" th:field="*{user.years}" id="years">
    <br/>
    <input type="submit" value="Update">
</form>

</body>
</html>